body{
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
}

h1{
    margin-top: 50px auto 0 auto;
    font-family: "Sofia", sans-serif;
    font-size: 5em;
    color: #66BFBF;

}

h1:hover{
    font-size: 5.05em;
    color: #11999E;
    text-decoration: underline overline coral;
}


h2{
    font-family: 'Rubik', sans-serif;
     color: #66BFBF;

}
.h3{
    color: #11999E;
    font-weight: normal;
}
h3{
    color: #11999E;
}


h4{
    color: #11999E;
}
/*div{
    
}*/




.top-container{
    background-color: #EAF6F6;
    width: 100%;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    background-color: #f0f2f0;

    padding-top: 50px;
    padding-bottom: 50px;
}


.cloud-top{
position:absolute;
left: 300px;
top: 100px;
}

.cloud-top:hover{
    background-color: coral ;
     border-image: round;
     cursor: pointer;

} 

.cloud-bottom{
    position: absolute;
    right: 300px;
    bottom: 300px;

}
.cloud-bottom:hover{
    background-color: coral ;
     border-image: round;
     cursor: pointer;
     margin-bottom: 0%;

} 

a{
    color: aliceblue;
    text-decoration: none;
}
a:hover{
    color: aqua;
    text-shadow: #242a26;
}

.skills{
    font-size: 1.4rem;
}

.profile-pic{
    border-radius: 50%;
}

 .skill-row {
    
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;
    text-align: left;
}
.skill-image1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill-image2{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.skill-discription1{
    font-size: 1.4 rem;
    
}
.skill-discription2{
    font-size: 1.4rem;
    
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4,  #11999e);
    background-image: -o-linear-gradient(top, #11cdd4,  #11999e);
    background-image: linear-gradient(to bottom, #11cdd4,  #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .bottom-container{
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: #66BFBF;
    color: #EAF6F6;
     font-size: 18px;

}


  .footer-link{
    font-size: 2rem;
  padding-left: 40px;
    text-decoration: none;
    color: #11999E;
    margin-bottom: 100px;
  }
  .contact-me
  {
    margin-bottom: 50px;
  }